// logo
$logo-fw: 800;
$logo-fs: 18px;

// titles
$title-fw: 700;
$title-fs-1: 56px;
$title-fs-2: 36px;

$subtitle-fw: 700;
$subtitle-fs-1: 36px;
$subtitle-fs-2: 16px;

$title-color-1: #ffffff;
$title-color-2: #2e2f42;
//content

$content-fw-1: 500;
$content-fw-2: 400;
$content-fs-1: 20px;
$content-fs-2: 16px;

$form-title-color: #2e2f42;
$content-color-1: #2e2f42;
$content-color-2: #434455;
$content-color-3: #f4f4fd;

//nav

$nav-fw: 500;
$nav-fs: 16px;

$menu-nav-fw: 700;
$menu-nav-fs: 36px;

//links

$contact-mob-fs-1: 36px;
$contact-mob-fs-2: 20px;
$contact-tab-fs: 12px;
$contact-desk-fs: 16px;

$main-link-color: #434455;

$customers-link-color: #8e8f99;

$soc-link-color: #f4f4fd;
$soc-link-bg: #4d5ae5;
//btns

$btns-fw: 500;
$btns-fs: 16px;

$btn-color-1: #ffffff;
$btn-color-2: #2e2f42;

$btns-bg-1: #4d5ae5;
$btn-bg-2: #e7e9fc;
//form

$form-fs-1: 16px;
$form-fs-2: 12px;

$form-content-color-1: #8e8f99;
$form-content-color-2: #ffffff;
$form-acent-color: #4d5ae5;
//other

$accent-color: #404bbf;
$border-color: #e7e9fc;
$bg-shadow: rgba(46, 47, 66, 0.7);

$page-color-1: #ffffff;
$page-color-2: #f4f4fd;
$page-color-3: #2e2f42;
